.pay
{
    color:#7f7e7e;
    font:16px Roboto;
    margin-top:20px;
    margin-left:20px;
}
.pay label{
    display: block;
    font: 18px Roboto;
    font-weight: 600;
    color: #4d4c4c;
}
button
{
    padding:15px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}