<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <table class="table-responsive compare-table" width="100%" border="0">
        <thead>
          <tr>
            <th width="33%">
              <div class="radio radio-primary">
                <input type="radio" name="radio1" id="radio1" value="option1">
                <label for="radio1">
                OPTION 1
            </label>
              </div>
            </th>
            <th width="33%">
              <div class="radio radio-primary">
                <input type="radio" name="radio1" id="radio2" value="option2">
                <label for="radio2">
                OPTION 2
            </label>
              </div>
            </th>
            <th width="33%">
              <div class="radio radio-primary">
                <input type="radio" name="radio1" id="radio3" value="option3">
                <label for="radio3">
                OPTION 3
            </label>
              </div>
            </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                 <div class="row margin-5">
                  <div class="col-10">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox1" type="checkbox" checked>
                      <label for="checkbox1">BOP: General Liability and  Business Property</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <span class="amt">$188</span>
                  </div>
                </div>
                <div class="row margin-5">
                  <div class="col-10">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox2" type="checkbox">
                      <label for="checkbox2">BOP: General Liability and BusinesHired and Non-owned Auto Liability
                  <span class="light">(coverage for vehicles not titled to your business) </span></label>
                    </div>
                  </div>
                  <div class="col-2"> </div>
                </div>
                <div class="row margin-5">
                  <div class="col-10">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox3" type="checkbox">
                      <label for="checkbox3">Commercial Auto Liability<span class="light">(for vehicles titled to your business)</span></label>
                    </div>
                  </div>
                  <div class="col-2"> </div>
                </div>
                <div class="row margin-5">
                  <div class="col-10">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox4" type="checkbox">
                      <label for="checkbox4">Umbrella <span class="light">(Excess Liability)</span></label>
                    </div>
                  </div>
                  <div class="col-2"> </div>
                </div>
                <div class="row margin-5">
                  <div class="col-10">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox5" type="checkbox">
                      <label for="checkbox5">Workers' Compensation</label>
                    </div>
                  </div>
                  <div class="col-2"> </div>
                </div>
              </td>
               <td>
                 <div class="row margin-5">
                  <div class="col-10">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox6" type="checkbox" checked>
                      <label for="checkbox6">BOP: General Liability and Business Property</label>
                    </div>
                  </div>
                  <div class="col-2"><span class="amt">$1818</span></div>
                </div>
                 <div class="row margin-5">
                    <div class="col-10">
                      <div class="checkbox checkbox-success">
                        <input id="checkbox7" type="checkbox">
                        <label for="checkbox7">BOP: General Liability and BusinesHired and Non-owned Auto Liability
<span class="light">(coverage for vehicles not titled to your business) </span></label>
                      </div>
                    </div>
                  <div class="col-2"></div>
                </div>
                 <div class="row margin-5" >
                    <div class="col-10">
                      <div class="checkbox checkbox-success">
                        <input id="checkbox8" type="checkbox" checked>
                        <label for="checkbox8">Commercial Auto Liability <span class="light">(for vehicles titled to your business) </span></label>
                      </div>
                    </div>
                  <div class="col-2"><span class="amt">$300</span></div>
                </div>
                   <div class="row margin-5">
                      <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox9" type="checkbox" checked>
                          <label for="checkbox9">Workers' Compensation</label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$250</span></div>
                </div>
                 <div class="row margin-5">
                     <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox10" type="checkbox" checked>
                          <label for="checkbox10">Umbrella<span class="light">(Excess Liability) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$250</span></div>
                </div>
                 <div class="row margin-5">
                    <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox11" type="checkbox" checked>
                          <label for="checkbox11">Certified Acts of Terrorism  <span class="light">(Excess Liability) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$100</span></div>
                </div>
              </td>
               <td>
                <div class="row margin-5">
                   <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox12" type="checkbox" checked>
                          <label for="checkbox12">BOP: General Liability and BusinesHired and Non-owned Auto Liability
                  <span class="light">(coverage for vehicles not titled to your business) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$1818</span></div>
                </div>
                <div class="row margin-5">
                   <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox13" type="checkbox" checked>
                          <label for="checkbox13">BOP: General Liability and BusinesHired and Non-owned Auto Liability
<span class="light">(coverage for vehicles not titled to your business) </span></label>
                        </div>
                    </div>
                  <div class="col-2"></div>
                </div>
                 <div class="row margin-5" >
                   <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox14" type="checkbox" checked>
                          <label for="checkbox14">Commercial Auto Liability <span class="light">(for vehicles titled to your business) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$300</span></div>
                </div>
                   <div class="row margin-5">
                     <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox15" type="checkbox" checked>
                          <label for="checkbox15">Workers' Compensation</label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$250</span></div>
                </div>
                 <div class="row margin-5">
                   <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox16" type="checkbox" checked>
                          <label for="checkbox16">Umbrella<span class="light">(Excess Liability) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$250</span></div>
                </div>
                 <div class="row margin-5">
                   <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox17" type="checkbox" checked>
                          <label for="checkbox17">Certified Acts of Terrorism  <span class="light">(Excess Liability) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$100</span></div>
                </div>
                <div class="row margin-5">
                  <div class="col-10">
                        <div class="checkbox checkbox-success">
                          <input id="checkbox18" type="checkbox" checked>
                          <label for="checkbox18">Earthquake/ Flood Coverage   <span class="light">(Optional) </span></label>
                        </div>
                    </div>
                  <div class="col-2"><span class="amt">$250</span></div>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
        <!-- <div class="col-4 col"><input type="radio" name="quote" class="regular-radio">OPTION 1</div>
        <div class="col-4 col"><input type="radio" name="quote">OPTION 2</div>
        <div class="col-4 col"><input type="radio" name="quote">OPTION 3</div> -->
    </div>  
    </div>
</div>
<app-footercomparebuy></app-footercomparebuy>